<a href="https://colab.research.google.com/github/sturu1/THU-PM/blob/master/Copy_of_python%EA%B8%B0%EC%B4%88(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 5. 조건문

### 5.1 비교연산자

> * 두 피연산자를 비교하는 연산자
* 파이썬은 다음과 같이 6가지를 제공
*   ==, >=,>, <=,<. !=

In [ ]:
a=30

In [ ]:
a==30

In [ ]:
a==40

In [ ]:
a>30

In [ ]:
a>=30




### 5.2 코드블록(Code Block)
> * 여러 코드가 이루는 일정한 구역
* 프로그래밍 언어들마다 이것을 표현하는 방법이 다름
* 파이썬은 들여쓰기로 구역을 나눔
* 들여쓰기는 스페이스(Space)나 탭(Tab) 둘 다 사용 가능
* 파이썬을 만든 귀도는 스페이스 4칸을 사용할 것을 권장

## 5.3 조건문
기본구조
```
if 조건:
    명령1
    명령2
    ….
else:
    명령3
    명령4
    … 
```

In [ ]:
a=30
if a==30:
  a=a+30

print(a)

In [ ]:
a = int(input('수를 입력하세요 : '))

if a == 0 : 
    print('0은 나눗셈에 이용할 수 없습니다.')
else :
    print('3 /', a, '=', 3/a)

여러 개의 조건을 다룰 때는?

if와 함께 elif 절 사용  
```
if 조건1:
    코드블록
    …
elif 조건2:
    코드블록
    …
elif 조건3:
    코드블록
    …
elif 조건4:
    코드블록
    …
else:
    코드블록
    … 
```

In [ ]:
print('수를 입력하세요 : ')
a = int(input())

if a > 10 and a % 2 == 0:
    print('10보다 큰 짝수')
elif a > 10 and a % 2 != 0:
    print('10보다 큰 홀수')        
elif a % 2 == 0 :
    print('10이하의 짝수')
else :
    print('10이하의 홀수')

> 논리 연산자
  * and 연산자
    * 두 피연산자 간의 논리곱을 수행
    * 논리곱 연산의 결과는 두 피연산자 모두가 True인 경우에만 True가 되고, 그렇지 않은 경우에는 항상 False
  * or 연산자
    * 두 피연산자 모두가 False인 경우에만 False가 되고, 그렇지 않은 경우에는 그 결과가 항상  True

In [ ]:
True and True

In [ ]:
True and False

In [ ]:
True or False

In [ ]:
False or False

## 6. 반복문

> for 문 사용하기
```
for 반복자 in 반복할 수 있는것:
    코드
```

In [ ]:
array = [12,42,53,12,45]
for i in array:
  print(i)

In [ ]:
temp = range(1,10)
list(temp)

In [ ]:
for j in range(1,10):
  print(j)

In [ ]:
for i in range(2,10):
  for j in range(1,10):
    print("{}*{}={}".format(i,j,i*j))