<a href="https://colab.research.google.com/github/sturu1/THU-PM/blob/master/Copy_of_python%EA%B8%B0%EC%B4%88(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 기초

딥러닝을 본격적으로 학습하기에 앞서서 파이썬에 대한 기본 활용 방법을 익혀 봅시다.

### 1. 개요

* 파이썬은 1989년부터 귀도 반 로섬(Guido van Rossum)이 개발을 시작한 언어

* 만인을 위한 프로그래밍(CP4E : Computer Programming for Everybody) 언어로써 발됨

* 읽고 쓰기 쉬운 언어

* 인터프리트 방식

* 생산성이 높고 다른 언어로 작성된 코드와 결합하는 능력이 탁월

* 다양하고 풍부한 라이브러리

* 무료

### 2. 변수
> 변수란? 

* 변수는 데이터를 담는 메모리 공간
* 변수에는 수, 텍스트, 목록, 이미지 데이터 등을 담을 수 있음.

In [ ]:
a = 2020

In [ ]:
print(a)

In [ ]:
b = a+3030

In [ ]:
b

In [ ]:
a = a - 20

In [ ]:
a

## 3. 자료형 (data type)

C언어와달리 파이썬변수는 자료형없음, 변수에 값을 넣으면 자료형 자동지정


파이썬은 기본적으로 지원하는 세 종류의 자료형
* 정수 (int)
* 실수 (float)
* 문자/문자열 (str) 
* bool 형

In [ ]:
a = 3
b = 12.3456
c='홍길동'

In [ ]:
c

변수의 type 확인

In [ ]:
type(a)

In [ ]:
b

In [ ]:
type(b)

In [ ]:
c, type(c)

> bool 형

* True와 False 두 가지 값을 나타내는 자료

In [ ]:
x = 3>2

In [ ]:
x

In [ ]:
type(x)

In [ ]:
y = 2<3

In [ ]:
y, type(y)

> 기본 입출력

* 기본 출력함수(화면에 출력): print
* 기본 입력함수(키보드를 통해 입력): input

In [ ]:
print("Hello")

In [ ]:
temp = input()

In [ ]:
temp, type(temp)

In [ ]:
name = input("당신의 이름은 무엇입니까?")

In [ ]:
name, type(name)

* 상수와 변수를 함께 출력하기
 * 괄호 안에 출력할 상수와 변수를
 * 콤마(,) 로 분리하여 나열

In [ ]:
name = input("이름은? ")

In [ ]:
age = int(input("나이는?"))

In [ ]:
type(age)

In [ ]:
department = input("학과는?")

In [ ]:
print("이름: ", name, "\n학과: ", department, "\n나이: ", age,"세")  # \n은 enter키를 의미

In [ ]:
print("이름: {}, \n학과: {}, \n나이: {}세".format(name, department, age))

## 4. 자료구조
* 자료구조 : 자료를 저장하기 위한 구조(형식)
* 자료구조는 변수의 확장이라고 할 수 있음
* 파이썬의 자료구조 종류 : list, tuple, dictionary

### 4.1 list 사용하기
* list 구조 : 여러 개의 자료를 연속적으로 저장하는 자료구조
* 예, 5명의 수학 성적을 리스트에 저장
* 형태 : [a, b, c, ... x] - 대괄호 사용
* C언어의 배열과 유사, 파이썬에는 배열이 없음
* index(주소)를 통해 자료에 접근할 수 있음

In [ ]:
scores1 = [90, 85, 80, 100, 95]

In [ ]:
scores1

In [ ]:
type(scores1)

In [ ]:
# list의 첫번째 자료의 값을 출력: index는 0부터 시작함
scores1[0]

In [ ]:
# list의 두번째 자료의 값을 출력: index는 0부터 시작함
scores1[1]

In [ ]:
# list의 마지막 자료의 값을 출력
scores1[-1]

In [ ]:
# 리스트의 마지막에 값을 추가
scores1.append(96)

In [ ]:
scores1

In [ ]:
# 리스트의 특정 요소의 값을 변경 가능
scores1[1] = 100

In [ ]:
scores1

In [ ]:
# len() 함수로 list의 길이를 잴 수 있습니다. 
len(scores1)

### 4.2 tuple 사용하기
* tuple 구조 : 여러 개의 자료를 연속적으로 저장하는 자료구조
* list 구조와 유사 : 여러 개의 자료를 연속적으로 저장
* 형태 : (a, b, c, ... x) - 소괄호 사용, 종종 괄호 없이도 사용
* list : 한번 생성 하면 항목을 추가, 삭제 가능 – 대괄호 사용
* tuple : 한번 생성 하면 변경 못함 – 소괄호 사용

In [ ]:
t = (1,2,3,4,5)

In [ ]:
t, type(t)

In [ ]:
t[0]

In [ ]:
# 튜플 자료구조는 값의 변경이 안됨
t[0] = 5

### 4.3 dictionary 사용하기
* dictionary 구조 : 사전 구조, 
* key와 value 두 개의 쌍이 하나의 데이터 묶음으로 되어 있고, 이들이 list와 같이 * 연속적으로 구성되는 자료구조
* 형태 : {a:a1, b:b1, ..., x:x1} - 중괄호 사용
* 각 구성요소는 key와 value 쌍으로 이루어짐
* get, del 과 같은 명령을 사용할 수 있음

In [ ]:
# 간단한 한영 사전
d = {"강아지": "dog", "새": "bird", "고양이": "cat"}

In [ ]:
type(d)

In [ ]:
# dictionary 자료는 key를 통해 자료에 접근이 가능함
d["강아지"]

In [ ]:
# key만 보고자 할때
d.keys()

In [ ]:
# value만 보고자 할때 
d.values()

In [ ]:

# in 연산자로 딕셔너리의 키 목록 안에 존재하는지를 확인합니다.

"강아지" in d

In [ ]:
"dog" in d